

header {
    background-color: black;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header > * {
    display: inline-block;
    text-align: center;
}

.tmdb-logo {
    margin-top: 10px;
    max-width: 150px;
}
